<title>CONSULTAR HABITACIONES</title>
<br>
<div class="centrar">

    <div class="card" style="border-radius: 20px;">
        <div class="card-body">

            <div class="container" style="margin-left: -0px;">
                <form class="form-inline" class="container" id="Buscador">
                    <input class="form-control mr-sm-2" name="filtroHabitacion" [(ngModel)]="searchText" type="text"
                        placeholder="Buscar por # Habitacion" aria-label="Search">
                </form><br>


                <table class="table" *ngIf='habitaciones && habitaciones.length'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Numero de Habitacion </th>
                            <th>Tipo de Habitacion</th>
                            <th>Estado</th>
                            <th>Numero de Personas</th>
                            <th>Precio</th>
                            <th >Editar</th>
                            <th >Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of habitaciones|filtroHabitacion:searchText; index as i ">
                            <td>{{ habitacion.idHabitacion }} </td>
                            <td>{{ habitacion.tipo }}</td>
                            <td>{{ habitacion.estado }}</td>
                            <td>{{ habitacion.nPersonas }}</td>
                            <td>{{ habitacion.precio | currency: 'COP $ ' }}</td>

                            <td><ng-template #content let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Actualizar</h4>
                                  <button type="button" class="far fa-window-close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                        <select class="form-control" name="tipo" [(ngModel)]="habitacion.tipo" #tipo="ngModel" required>
                                            <option value="seleccionar tipo">Seleccionar tipo</option>
                                            <option value="Simple">Simple</option>
                                            <option value="Doble">Doble</option>
                                            <option value="Triple">Triple</option>
                                            <option value="Familiar">Familiar</option>
                                        </select>
                                        <div *ngIf="tipo.touched && tipo.invalid" class="invalid-feedback">
                                            <div *ngIf="tipo.errors.required">El tipo de habitación es requerido</div>
                                        </div>
                                    </div>
                        
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="nPersonas" [(ngModel)]="habitacion.nPersonas"
                                               minlength="1" maxlength="5"
                                            #nPersonas="ngModel" placeholder="Número de personas"
                                            [ngClass]="{ 'is-invalid': nPersonas.touched && nPersonas.invalid }" required />
                                        <div *ngIf="nPersonas.touched && nPersonas.invalid" class="invalid-feedback">
                                          <div *ngIf="nPersonas.errors.required">El número de personas es requerido</div>
                                          <div *ngIf="nPersonas.errors.minlength || nPersonas.errors.maxlength">El número de personas debe tener entre 1 y 5 digitos</div>
                                        </div>
                                    </div>
                        
                        
                                    <div class="form-group">
                                        <select class="form-control" name="estado" [(ngModel)]="habitacion.estado" #estado="ngModel" required>
                                            <option value="seleccionar estado">Seleccionar estado</option>
                                            <option value="ocupado">Ocupado</option>
                                            <option value="desocupado">Desocupado</option>
                                            <option value="mantenimiento">En Mantenimiento</option>
                                        </select>
                                        <div *ngIf="estado.touched && estado.invalid" class="invalid-feedback">
                                            <div *ngIf="estado.errors.required">El estado de la habitación es requerido</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="precio" [(ngModel)]="habitacion.precio"
                                               minlength="6" maxlength="7"
                                            #precio="ngModel" placeholder="Precio de la habitación"
                                            [ngClass]="{ 'is-invalid': precio.touched && precio.invalid }" required />
                                        <div *ngIf="precio.touched && precio.invalid" class="invalid-feedback">
                                          <div *ngIf="precio.errors.required">El precio de personas es requerido</div>
                                          <div *ngIf="precio.errors.minlength || precio.errors.maxlength">El precio debe tener entre 6 y 7 digitos</div>
                                        </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" (click)="editar(habitacion)">Guardar</button>
                                </div>
                              </ng-template>
                              
                              <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Editar</button>
                              </td>

                            <td><button  style=" border-radius: 15px; margin-top: 15px;" class="btn btn-danger" (click)="eliminar(habitacion)"><i class="far fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
