<title>CONSULTAR CLIENTES</title>
<br>
<div class="centrar">

    <div class="card" style="border-radius: 20px;">
        <div class="card-body">

            <div class="container" style="margin-left: -0px;">

                <form class="form-inline" class="container" id="Buscador">
                    <input class="form-control mr-sm-2" name="filtroCliente" [(ngModel)]="searchText" type="text" placeholder="Buscar por Cedula" aria-label="Search">
                </form><br>

                <table class="table" *ngIf='clientes && clientes.length'>
                    <thead class="thead-dark">
                        <tr>
                            <th >Cedula</th>
                            <th >Nombre</th>
                            <th >Apellido</th>
                            <th >Edad</th>
                            <th >Sexo</th>
                            <th >Telefono</th>
                            <th>Ver más</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes|filtroCliente:searchText; index as i ">
                            <td>{{ cliente.idCliente }} </td>
                            <td>{{ cliente.nombre}}</td>
                            <td>{{ cliente.apellido }}</td>
                            <td>{{ cliente.edad }}</td>
                            <td>{{ cliente.sexo }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td><button  style=" border-radius: 15px; margin-top: 15px;" class="btn btn-primary"><i class="fas fa-eye"></i></button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<br><br><br><br><br><br>