<title>CONSULTAR EMPLEADOS</title>
<br>
<div class="centrar">

    <div class="card" style="border-radius: 20px;">
        <div class="card-body">

            <div class="container" style="margin-left: -0px;">

                <form class="form-inline" class="container" id="Buscador">
                    <input class="form-control mr-sm-2" name="filtroEmpleado" [(ngModel)]="searchText" type="text" placeholder="Buscar por Cedula" aria-label="Search">
                </form><br>
                
                <table class="table" *ngIf='empleados && empleados.length'>
                    <thead class="thead-dark">
                        <tr>
                            <th >Cedula</th>
                            <th >Nombre</th>
                            <th >Apellido</th>
                            <th >Edad</th>
                            <th >Sexo</th>
                            <th >Telefono</th>
                            <th >Jornada</th>
                            <th >Cargo</th>
                            <th >Editar</th>
                            <th >Eliminar</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados|filtroEmpleado:searchText |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i ">
                            <td>{{ empleado.cedula}} </td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.apellido }}</td>
                            <td>{{ empleado.edad}}</td>
                            <td>{{ empleado.sexo}}</td>
                            <td>{{ empleado.telefono}}</td>
                            <td>{{ empleado.jornada}}</td>
                            <td>{{ empleado.cargo}}</td>
                            <td><ng-template #content let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Actualizar</h4>
                                  <button type="button" class="far fa-window-close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nombre" [(ngModel)]="empleado.nombre" maxlength="30" minlength="3" #nombre="ngModel"
                                               placeholder="Nombre" [ngClass]="{ 'is-invalid': nombre.touched && nombre.invalid }" required />
                                        <div *ngIf="nombre.touched && nombre.invalid" class="invalid-feedback">
                                          <div *ngIf="nombre.errors.required">El nombre es requerido</div>
                                          <div *ngIf="nombre.errors.minlength || nombre.errors.maxlength">El nombre debe tener entre 3 y 30 digitos</div>
                                        </div>
                                      </div>
                              
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="apellido" [(ngModel)]="empleado.apellido" maxlength="30" minlength="3"
                                               #apellido="ngModel" placeholder="Apellido"
                                               [ngClass]="{ 'is-invalid': apellido.touched && apellido.invalid }" required />
                                        <div *ngIf="apellido.touched && apellido.invalid" class="invalid-feedback">
                                          <div *ngIf="apellido.errors.required">El apellido es requerido</div>
                                          <div *ngIf="apellido.errors.minlength || apellido.errors.maxlength">El apellido debe tener entre 3 y 30 digitos</div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <input type="number" class="form-control" name="edad" [(ngModel)]="empleado.edad" #edad="ngModel"
                                               placeholder="Edad" [ngClass]="{ 'is-invalid': edad.touched && edad.invalid || edad.value < 18 || edad.value > 105}" required />
                                        <div *ngIf="edad.touched && edad.invalid" class="invalid-feedback">
                                          <div *ngIf="edad.errors.required">La edad es requerida</div>
                                        </div>
                                        <div *ngIf="edad.value < 18">Debe tener al menos 18 años de edad</div>
                                        <div *ngIf="edad.value > 105">Debe tener menos de 106 años de edad</div>
                              
                                      </div>
                              
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="telefono" [(ngModel)]="empleado.telefono" maxlength="10" minlength="10"
                                               #telefono="ngModel" placeholder="Telefono"
                                               [ngClass]="{ 'is-invalid': telefono.touched && telefono.invalid }" required />
                                        <div *ngIf="telefono.touched && telefono.invalid" class="invalid-feedback">
                                          <div *ngIf="telefono.errors.required">El telefono es requerido</div>
                                          <div *ngIf="telefono.errors.minlength || telefono.errors.maxlength">El telefono debe tener 10 digitos</div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <select class="form-control" name="cargo" [(ngModel)]="empleado.cargo" #cargo="ngModel" required>
                                          <option value="Seleccionar un cargo">Seleccionar un cargo</option>
                                          <option value="Administrador">Administrador</option>
                                          <option value="gobernanta">Gobernanta</option>
                                          <option value="recepcionista">Recepcionista</option>
                                          <option value="camarera">Camarera</option>
                                          <option value="seguridad">Seguridad </option>
                                          <option value="mantenimiento"> Mantenimiento</option>
                                        </select>
                                        <div *ngIf="cargo.touched && cargo.invalid" class="invalid-feedback">
                                          <div *ngIf="cargo.errors.required">El cargo es requerido</div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <select class="form-control" name="jornada" [(ngModel)]="empleado.jornada" #jornada="ngModel" required>
                                          <option value="Selecciona una jornada">Selecciona una jornada</option>
                                          <option value="diurna">Diurna</option>
                                          <option value="nocturna">Nocturna</option>
                                        </select>
                                        <div *ngIf="jornada.touched && jornada.invalid" class="invalid-feedback">
                                          <div *ngIf="jornada.errors.required">El jornada es requerido</div>
                                        </div>
                                      </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" (click)="editar(empleado)">Guardar</button>
                                </div>
                              </ng-template>
                              
                              <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Editar</button>
                              </td>

                            <td><button  style=" border-radius: 15px; margin-top: 15px;" class="btn btn-danger" (click)="eliminar(empleado)"><i class="far fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>